.deliveryTitle {
  margin-bottom: 12px;
  color: #3d3d3d;
  font-size: 26px;
  line-height: 1.1875;
  text-align: center;
}
.deliverySubtitle {
  margin-bottom: 8px;
  line-height: 1.4;
  text-align: center;
}
.deliveryText {
  margin-bottom: .6rem;
  color: #666;
}
.strongText {
  color: #3d3d3d;
}
